@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Protest+Revolution&display=swap');
@font-face {
  font-family: urbanist;
  src: url('/assests/Urbanist-Regular.ttf');
}

@media (max-width: 600px) {
  .tile {
    font-size: 40px;
  }
  #weatherDisplay {
    font-size: 16px;
  }
}
:root{
  --pcolor : #B75A48;
  --pcolor-dull : #b75a488b;
  --scolor : #E8ECD6;
}
*{
  font-family: "urbanist",sans-serif;
  margin: 0;
  padding: 0;
}
body {
  font-family: "urbanist", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
  background-color: var(--scolor);

}
.posi{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.posi .message{
  font-size: 30px;
}


/* App Container Styling */
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 50%;
  margin: 2rem;
  padding: 45px 30px 45px 30px;
  border-radius: 2px;
  box-shadow: 15px 15px 0px 2px var(--pcolor-dull);
  background: var(--pcolor);
  color: var(--scolor);
}
.tile{
  font-size: 1.5em;

}

#weatherDisplay {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 15px; /* Space between boxes */
  justify-content: center;
  align-items: center; 
  margin-top: 20px;
}

.weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--scolor);
  border-radius: 5px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  padding: 15px;
  width: 5em; /* Adjust box width */
  height: 4em;
  color: black;
  font-size: 6px;
  text-align: center;
}

.weather-box img {
  width: 20px; /* Adjust size */
  /* height: 50px; */
  object-fit: cover;
}

/* Weather Input Container */
.weather-input {
  margin: 20px auto 20px auto;
  
}

/* Input Field Styling */
.weather-input input {
  width: 80%;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  /* background: white; */

}

.weather-input input::placeholder {
  font-style: bold,italic;
  color: var(--pcolor);
}


/* Main Button Animation */
.button {
  background-color: var(--scolor);
  width: 10em;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "urbanist",sans-serif;
  color: var(--pcolor);
  font-weight: 700;

}


/* Weather Display Section */
#weatherDisplay {
  margin-top: 20px;
  font-size: 18px;
}
@media (min-width: 1440px) {
  
  .app{
    width: 400px;
    height: 250px;
    gap: 10px;
  }
  .weather-box{
    width: 150px;
    height: 60px;
    font-size: 15px;
  }
  .weather-box-a{
    width: 700px;
    height: 400px;
  }
  .weather-box img {
    width: 50px; 
  }




}
